.welcome-card {
    margin: 0;
    border: none;
    box-shadow: none;
}
ion-card-content {
    padding: 0;
}
ion-card-subtitle {
    padding: 20px 15px;
    font-size: .9em;
    font-weight: 400;
    font-style: italic;
    color: #999;
    background: #fefefe url('/assets/img/round-info-button.png') no-repeat -15px -15px;
}
ion-card-title {
    padding: 20px 15px;
    background: #fefefe url('/assets/img/round-help-button.png') no-repeat -15px -15px;
}
ion-img {
    max-height: 35vh;
    overflow: hidden;
}
ion-text {
    margin: 10px 0;
}
