// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #006FCF;
    --ion-color-primary-rgb: 0, 111, 207;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0062b6;
    --ion-color-primary-tint: #1a7dd4;

    /** secondary **/
    --ion-color-secondary: #48A8FF;
    --ion-color-secondary-rgb: 72, 168, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #3f94e0;
    --ion-color-secondary-tint: #5ab1ff;

    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    

    /* ------------------------------- */
    /*                                 */
    /*        CUSTOMIZED ELEMENTS       */
    /*                                 */
    /* ------------------------------- */

    /** VARIABILI GLOBALI APP **/

    /** COLORI UFFICIALI APP **/
    
    /** Verde **/

    --ion-color-verde: #10dc60;
    --ion-color-verde-rgb: 16, 220, 96;
    --ion-color-verde-contrast: #ffffff;
    --ion-color-verde-contrast-rgb: 255, 255, 255;
    --ion-color-verde-shade: #0ec254;
    --ion-color-verde-tint: #28e070;

    .ion-color-verde {
        --ion-color-base: var(--ion-color-verde) !important;
        --ion-color-base-rgb: var(--ion-color-verde-rgb) !important;
        --ion-color-contrast: var(--ion-color-verde-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-verde-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-verde-shade) !important;
        --ion-color-tint: var(--ion-color-verde-tint) !important;
    }

    /** Bianco **/

    --ion-color-bianco: #ffffff;
    --ion-color-bianco-rgb: 255, 255, 255;
    --ion-color-bianco-contrast: #000000;
    --ion-color-bianco-contrast-rgb: 255, 255, 255;
    --ion-color-bianco-shade: #e0e0e0;
    --ion-color-bianco-tint: #ffffff;

    .ion-color-bianco {
        --ion-color-base: var(--ion-color-bianco) !important;
        --ion-color-base-rgb: var(--ion-color-bianco-rgb) !important;
        --ion-color-contrast: var(--ion-color-bianco-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-bianco-gold-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-bianco-shade) !important;
        --ion-color-tint: var(--ion-color-bianco-tint) !important;
    }

    /** Viola **/

    --ion-color-viola: #9b40ff;
    --ion-color-viola-rgb: 155, 64, 255;
    --ion-color-viola-contrast: #ffffff;
    --ion-color-viola-contrast-rgb: 255, 255, 255;
    --ion-color-viola-shade: #8838e0;
    --ion-color-viola-tint: #a553ff;

    .ion-color-viola {
        --ion-color-base: var(--ion-color-viola) !important;
        --ion-color-base-rgb: var(--ion-color-viola-rgb) !important;
        --ion-color-contrast: var(--ion-color-viola-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-viola-gold-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-viola-shade) !important;
        --ion-color-tint: var(--ion-color-viola-tint) !important;
    }

    /** Rosso **/

    --ion-color-rosso: #ec0600;
    --ion-color-rosso-rgb: 236, 6, 0;
    --ion-color-rosso-contrast: #ffffff;
    --ion-color-rosso-contrast-rgb: 255, 255, 255;
    --ion-color-rosso-shade: #d00500;
    --ion-color-rosso-tint: #ee1f1a;

    .ion-color-rosso {
        --ion-color-base: var(--ion-color-rosso) !important;
        --ion-color-base-rgb: var(--ion-color-rosso-rgb) !important;
        --ion-color-contrast: var(--ion-color-rosso-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-rosso-gold-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-rosso-shade) !important;
        --ion-color-tint: var(--ion-color-rosso-tint) !important;
    }

    /** Arancione **/

    --ion-color-arancione: #eca500;
    --ion-color-arancione-rgb: 236, 165, 0;
    --ion-color-arancione-contrast: #ffffff;
    --ion-color-arancione-contrast-rgb: 255, 255, 255;
    --ion-color-arancione-shade: #d09100;
    --ion-color-arancione-tint: #eeae1a;

    .ion-color-arancione {
        --ion-color-base: var(--ion-color-arancione) !important;
        --ion-color-base-rgb: var(--ion-color-arancione-rgb) !important;
        --ion-color-contrast: var(--ion-color-arancione-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-arancione-gold-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-arancione-shade) !important;
        --ion-color-tint: var(--ion-color-arancione-tint) !important;
    }

    ion-button{
        --box-shadow:none;
    }

}
