.completata {
    ion-item{
        color: rgb(138, 211, 30);
    }
}

.disabilitata {
    ion-item{
    color: rgba(0, 0, 0,.2);
    }
}

.prossima {
    ion-item{
        color: rgb(6, 128, 235);
    }
}
ion-header {
ion-item{
   --ion-background-color:transparent;
}
}
ion-label {
    padding: 15px 0;
}